body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0
}

.top-container {
  background-color: #14C38E;
  position: relative;
  padding-top: 100px
}

.middle-container {
  background-color: #32a895;
}

.bottom-container {
  background-color: #0FF997;
}

.web {
  text-decoration: underline;
}

.name {
  font-family: paytone one, sans-serif;
}

.roundimage {
  border-radius: 100%;
}

.ghost {
  border-radius: 100%;
}
