body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: antiquewhite;
}

.top-container {
  background-color: #14C38E;
  position: relative;
  padding-top: 100px
}

.middle-container {
  background-color: #32a895;
}

.bottom-container {
  background-color: #0FF997;
}

.web {
  font-size: 1.50rem;
  color: yellow;
}

.myname {
  font-family: paytone one, sans-serif;


}

.roundimage {
  border-radius: 100%;
  margin-bottom: 25px
}

p {
  font-size: 1.5em;
}

.footer-link {
  font-size: 1.7rem;
}

.btn {
  font-size: 1.50rem;
}

.ghost {
  margin: auto auto 50px auto;
}

.para {
  margin: auto 25px auto 25px;
}
