body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin: 50px auto 0 auto;
}

.T {
  color: red;
}

.H {
  color: blue;
}

.E {
  color: pink
}

.G {
  color: purple;
}

.HH {
  color: orange;
}

.O {
  color: green;
}

.S {
  color: grey;
}

.TT {
  color: beige;
}

.GG {
  color: silver;
}

.U {
  color: maroon;
}

.Y {
  color: olive;
}





h2 {
  color: antiquewhite;
  font-weight: normal;
}

h3 {
  color: antiquewhite;
  font-weight: normal;
}

.top-container {
  background-color: #14C38E;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #32a895;
}

.bottom-container {
  background-color: #0FF997;
}

.web {
  font-size: 1.50rem;
  color: yellow;
  font-weight: normal;
}

.myname {
  font-family: paytone one, sans-serif;
  position: relative;
}

.roundimage {
  position: relative;
  max-width: 25%;
  max-height: 25%;
  border-radius: 25%;
  margin-bottom: 25px
  }

p {
  font-size: 1.5em;
}

a {
  font-size: 1.7rem;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #f56042
}

.btn {
  font-size: 1.50rem;
}

.ghost {
  margin: auto auto 50px auto;
  position: relative;
}

.small-ghost {
  float: left;
  margin-left: 15%;
}

.small-ghost2 {
  float: right;
  margin-right: 15%;
}

.para {
  margin: auto 25px auto 25px;
}

.para1 {
  margin: auto;
  width: 50%;
  text-align: center;
}

.ghosticon {
  margin-left: 50px;
  float: right;
  width: 25%
}

.htmllogo {
  margin-right: 50px;
  float: left;
  width: 25%
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
  box-shadow: 0 1px 3px #666666;
  font-family: Arial;
  color: #82465e;
  font-size: 25px;
  background: #dfe6eb;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #c3d2db;
  text-decoration: none;
}

.skillline {
  padding-top: 15px;
}

hr {
  border-top: dotted 6px;
  border-bottom: none;
  width: 20%;
  margin: 100px auto;
}
